:root {
  --primary: #0bc6ff;
  --second: #e60000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./bg/bg.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  position: relative;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 80%;
  max-width: 400px;
  z-index: 1;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
}

button {
  padding: 12px 20px;
  width: 100%;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--second);
}

p {
  margin-top: 10px;
  font-size: 14px;
  word-break: break-word;
}

#linkOutput a {
  color: #2980b9;
  text-decoration: none;
}

#linkOutput a:hover {
  text-decoration: underline;
}

#copyButton {
  padding: 10px 15px;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

#copyButton:hover {
  background-color: var(--second);
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #555;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px 0;
}
